.wraper {
    border: 1px solid #666;
    box-shadow: 10px 10px 20px 5px black;
    padding: 20px 0px 20px 0px;
    width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "Pages Users Users" "LogoFollow NameStatus Location";
}

.grid0 {
    grid-area: Pages;
    display: flex;
    padding: 10px;
    margin: 0 10px;
    font-size: 30px;
    width: 610px;
    color: pink;
    cursor: pointer;
    user-select: none;
    overflow-y: hidden;
    border: 0.5px solid #666;
    border-radius: 20px;
}

.grid0::-webkit-scrollbar {
    display: nonegit;
}

.count {
    font-weight: bold;
    color: black;
}

.countNoActive {
    padding: 0px 10px 0px 10px;
    font-size: 25px;
    border: 1px solid #666;
    border-radius: 10px;
    margin: 0px 2px;
}

.grid1 {
    grid-area: Users;
    padding: 10px;
    text-align: end;
    font-weight: bold;
    font-size: 30px;
}

.grid2 {
    grid-area: LogoFollow;
}

.grid3 {
    grid-area: NameStatus;
}

.grid4 {
    grid-area: Location;
}