.wraper {
    border: 1px solid #666;
    box-shadow: 10px 10px 20px 5px black;
    padding: 20px 0px 20px 0px;
    width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "Pages Users Users" "LogoFollow NameStatus Location";
}

.grid0 {
    grid-area: Pages;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    margin: 0 10px;
    font-size: 30px;
    width: 700px;
    color: pink;
    cursor: pointer;
    user-select: none;
    overflow-y: hidden;
    border: 0.5px solid #666;
    border-radius: 20px;
}

.grid01 {
    display: flex;
}

.grid0::-webkit-scrollbar {
    display: none;
}

.count {
    font-weight: bold;
    color: black;
}

.countNoActive {
    padding: 0px 10px 0px 10px;
    font-size: 25px;
    border: 1px solid #666;
    border-radius: 10px;
    margin: 0px 2px;
}

.grid1 {
    grid-area: Users;
    padding: 10px;
    text-align: end;
    font-weight: bold;
    font-size: 30px;
}

.grid2 {
    grid-area: LogoFollow;
}

.grid3 {
    grid-area: NameStatus;
}

.grid4 {
    grid-area: Location;
}

.buttonContainer {
    display: flex;
}

.tapToAhead {
    display: flex;
    position: relative;
    width: 70px;
    bottom: 5px;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    height: 30px;
    border-radius: 25px;
    transition-duration: 0.5s;
    margin: 5px;
    border: 1px solid #666;
    background-color: black;
    color: pink;
}

.tapToAhead:hover {
    transition-duration: 0.5s;
    color: white;
    background-color: black;
}

.tapToAhead:active {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 8px 2px #666;
    font-size: 19px;
    color: pink;
    background-color: #fff;
}