.logo {
    width: 50px;
    transition-duration: 0.5s;
}

.logo:hover {
    transition-duration: 0.5s;
    transform: rotateY(360deg);
}

.activeLink>.logo {
    width: 60px;
    transition-duration: 0.5s;
}