    .mhead {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        font-size: 25px;
    }
    
    .headName {
        transition-duration: 1s;
        user-select: none;
    }
    
    .headName:hover {
        color: rgb(255, 0, 157);
        transition-duration: 0.5s;
    }
    
    .headName:active {
        font-size: 22px;
    }
    
    .about {
        position: relative;
        right: 15px;
    }