    .mhead {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        font-size: 25px;
    }
    
    .headName {
        min-height: 30px;
        transition-duration: 0.1s;
        user-select: none;
    }
    
    .headName:hover {
        color: rgb(255, 0, 157);
        transition-duration: 0.5s;
    }
    
    .headName:active {
        transition-duration: 0.05s;
        font-size: 23px;
    }
    
    .about {
        position: relative;
        right: 15px;
    }
    
    .activeLink {
        color: rgb(255, 0, 157) !important;
        font-size: 30px;
    }