.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 80px 10fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
}

.app-wrapper-content {
    grid-area: c;
    background: url(https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/106596298_725953158165220_320408847482121103_n.jpg?_nc_cat=105&_nc_sid=730e14&_nc_ohc=GWYgXAKq3AEAX_iELL_&_nc_ht=scontent-waw1-1.xx&oh=c83031f02439bd780980f9e535e972d1&oe=5F9F4764) 300px 100px no-repeat;
}