.textReview {}

.text {
    width: 150px;
    border: 1px solid #666;
    position: relative;
    bottom: 10px;
    right: 8px;
}

.buttReview {
    position: relative;
    bottom: 10px;
    left: 10px;
}

.bye {
    font-size: 15px;
    width: 50px;
    height: 20x;
    margin: 5px;
    border-radius: 25px;
    transition-duration: 0.5s;
}

.bye:hover {
    transition-duration: 0.5s;
    color: white;
    background-color: black;
}

.bye:active {
    transition-duration: 0.5s;
    font-size: 16px;
}